//- Data want: 
//- - Min and max temperature daily 
//- - Weather for week 
//- - Precipitation / sunny levels (cloudly, snowing, etc)
//- - Humidity 
//- - Real feel 
//- - Wind feel 

//- Maybe show initial graphic for week with cloud/sun and min/max temp for each day and wind feel 
//- Then if click on day, get more info and hourly temp and forecast 
